body {
  background-image: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
}
.mainFrame {
  text-align: left;
  padding: 75px;
  padding-bottom: 10%;
  margin: 0 auto;
  margin-top: 10%;
  border: 1px solid #7ac9ea;
  background-color: white;
  border-radius: 30px;
  box-shadow: 10px 5px 5px grey;
  max-width: 750px;
  width: 650px;
}
.searchButton {
  border-radius: 20px;
  background: rgb(165, 209, 209);
  box-shadow: 10px 5px 5px grey;
}

.search {
  padding-top: 50px;
  padding-bottom: 10px;
}
#current-location {
  background: rgb(165, 209, 209);
}
#currentdate {
  font-size: 40px;
  font-family: "Poor Story", cursive;
}

.temp {
  font-size: 45px;
  font-weight: bolder;
  font-family: "Poor Story", cursive;
}

#ftemp {
  text-decoration: none;
  font-size: 32px;
}
#ctemp {
  text-decoration: none;
  font-size: 32px;
}
#line {
  font-size: 25px;
}

#cTempPic {
  font-size: 50px;
}
.futureTempImages {
  padding-top: 50px;
}

.futureTemps {
  padding-top: 20px;
}
.ftemp {
  font-size: 24px;
  position: relative;
  right: -15px;
  font-family: "Poor Story", cursive;
}
#pics {
  font-size: 50px;
}
#location {
  font-size: 35px;
  font-family: "Poor Story", cursive;
  font-weight: bold;
}
#pics {
  padding-left: 50px;
  border-radius: 20px;
  background-color: rgb(165, 209, 209);
  backdrop-filter: blur(5px);
}
#weather-image {
  width: 65px;
  padding-right: 10px;
  padding-bottom: 5px;
}
footer {
  padding-left: 75px;
  margin: auto;
  text-align: center;
  font-family: "Poor Story", cursive;
}
